extends layout

block content
  script.
    $(document).ready(function () {
      function update_charts() {
        $.ajax({
          url: '/ext/getlasttxs/0.00000001',
          success: function (result) {
            var extdata = result.data;
            extdata.sort(function (a, b) {
                return a.blockindex - b.blockindex;//正序
            });
            //alert( 'test+++' );
            AmCharts.makeChart("chartdiv", {
              "type": "serial",
              "theme": "dark",
              "marginRight": 80,
              "dataProvider": result.data,
              "valueAxes": [{
                "position": "left",
                "title": "Difficulty",
                "axisColor": "#e7e7e7",
                "fillColor": "#e7e7e7"
              }],
              "graphs": [{
                "id": "g1",
                "fillAlphas": 0.4,
                "valueField": "difficult",
                "balloonText": "<div style='margin:5px; font-size:19px;'>Diff(POS):<b> [[value]]</b></div>"
              }
              ],
              "chartCursor": {
                "categoryBalloonDateFormat": "JJ:NN, DD MMMM",
                "cursorPosition": "mouse"
              },
              "categoryField": "blockindex",
              "categoryAxis": {
                "gridAlpha": 0,
                "position": "left",
                "labelsEnabled": true,
                "tickLength": 0,
                "axisColor": "#e7e7e7",
                "fillColor": "#e7e7e7"
              },
              "export": {
                "enabled": true,
              }
            });
            //alert( 'test---' );
          },
          error: function () {
            alert('network link is closed. please try again later. ');
          }
          //success: function( result ) {
          //var chart = AmCharts.makeChart("chartdiv",{});
          //};
        });
      }
      update_charts();
      var rtable = $('#recent-table').dataTable( {
        language: { url: '/datatable/lang' },
        autoWidth: true,      
        searching: false,
        ordering: false,
        responsive: true,
        lengthChange: true,
        processing: true,
        ajax: {
          url: '/ext/getlasttxs/0.00000001',
          dataSrc: function ( json ) {
            for ( var i=0;i<json.data.length; i++ ) {
              json.data[i]['timestamp'] = new Date((json.data[i]['timestamp']) * 1000).toUTCString();
              json.data[i]['txid'] = "<a href='/tx/" + json.data[i]['txid'] + "'>" + json.data[i]['txid'] + "</a>";
              json.data[i]['blockindex'] = "<a href='/block/" + json.data[i]['blockhash'] + "'>" + json.data[i]['blockindex'] + "</a>";
              var amount = json.data[i]['total'] / 100000000;
              json.data[i]['total'] = amount.toFixed(8);
              json.data[i]['recipients'] = json.data[i]['vout'].length;
            }
            return json.data;
          }
        },
        columns: [
          { data: 'blockindex', width: '8%' },
          { data: 'txid', width: '40%' },
          { data: 'recipients', width:'5%' },
          { data: 'total', width: '15%' },
          { data: 'timestamp', width: '25%' },
        ]
      });
      setInterval( function () {
        rtable.api().ajax.reload(null, false);
        update_charts();
      }, 60000 );
    });
  <div class="col-md-offset-5 col-md-2" style="text-align:center;"><label>Network Difficulty</label></div><div class="col-md-offset-5"></div>
  <div class="col-md-offset-1 col-md-10"><div id="chartdiv" style="width: 100%; height: 300px;></div></div>
  .col-xs-12.col-md-12
    if error !== null
      .alert.alert-danger.alert-dismissable(role='alert')
        button.close(type='button', data-dismiss='alert') ×
        strong= t('explorer.error',{error : error})
    if warning !== null
      .alert.alert-warning.alert-dismissable(role='alert')
        button.close(type='button', data-dismiss='alert') ×
        strong= t('explorer.warning',{error : error})
  
  .col-xs-12.col-md-12
    .panel.panel-default
      .panel-heading
        strong= t('explorer.latest_transactions')
      table#recent-table.table.table-bordered.table-striped
        thead
          tr
            th.text-center= t('explorer.block')
            th.hidden-xs.text-center= t('explorer.hash')
            th.hidden-xs.text-centerr= t('explorer.recipients')
            th.text-center= t('explorer.amount_coin',{coin : settings.symbol})
            th.text-center= t('explorer.timestamp')
        tbody.text-center
    .footer-padding
      
              
